{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
{% block body %}
<div class="container base">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1 navigation">
      <ul class="nav nav-pills nav-stacked">
        {% if current_user.is_authenticated() %}
          <li class="user-name"><center>{{ current_user.fname }} {{ current_user.lname }}</center></li>
          <br>
          <li><a href="{{ url_for('user') }}">Profile</a></li>
            <li><a href="{{ url_for('update_profile') }}">Update Profile</a></li>
          <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
          <li><a href="{{ url_for('user.change_username') }}">Change username</a></li>
        {% else %}
          <li><a href="{{ url_for('user.register') }}">Register</a></li>
          <li><a href="{{ url_for('user.login') }}">Sign in</a></li>
          <li><a href="{{ url_for('user.forgot_password') }}">Forgot password?</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-5 main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
