{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="container base">
    {% if current_user.is_authenticated() %}
      <div class="row top-cover">
        <img class="cover-image" src="{{ url_for('static', filename='images/homepage/page1/cover_photo.jpg') }}">
        <div class="mask"></div>
        <div class="avatar">
          <a href="{{ url_for('update_profile') }}"><img class="avatar-image" src="{{ current_user.avatar if current_user.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}"></a>
        </div>
        <div class="name">{{ current_user.fname }} {{ current_user.lname }}</div>
      </div>
      <div class="row basic-info">
        <div class="col-xs-2 location"><img class="icon-image" src="{{ url_for('static', filename='images/user/country.png') }}">{% if current_user.location == "US" %}United States{% else %}China{% endif %}</div>
        <div class="col-xs-3 school"><img class="icon-image" src="{{ url_for('static', filename='images/user/institution.png') }}">{{ current_user.school }}</div>
        <div class="col-xs-4 email"><img class="icon-image" src="{{ url_for('static', filename='images/user/mail.png') }}">{{ current_user.email }}</div>
        <div class="col-xs-3 major"><img class="icon-image" src="{{ url_for('static', filename='images/user/major.png') }}">{% if current_user.major == "None" %}Not Provided{% else %}{{current_user.major}}{% endif %}</div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-3 navigation">
        <ul class="nav nav-pills nav-stacked">
          {% if current_user.is_authenticated() %}
            <li {% if request.path=="/profile" %}class="nav-active"{% endif %}><a href="{{ url_for('user') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/profile.png') }}">My page</a></li>
            <li {% if request.path=="/update_profile" %}class="nav-active"{% endif %}><a href="{{ url_for('update_profile') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/update_profile.png') }}">Update Profile</a></li>
            <li {% if request.path=="/change-password" %}class="nav-active"{% endif %}><a href="{{ url_for('user.change_password') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/change password_username.png') }}">Change Password</a></li>
            <li {% if request.path=="/change-username" %}class="nav-active"{% endif %}><a href="{{ url_for('user.change_username') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/change password_username.png') }}">Change username</a></li>
            <li {% if request.path=="/notifications" %}class="nav-active"{% endif %}><a href="{{ url_for('personal_notifications') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/notification.png') }}">Notifications</a></li>
            {% if current_user.team_id != None %}
              <li><a href="{{ url_for('team_page') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/team.png') }}">Team</a></li>
            {% else %}
              <li {% if request.path=="/invitation" %}class="nav-active"{% endif %}><a href="{{ url_for('invitation') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/teaminvite.png') }}">Team Invitation</a></li>
            {% endif %}
            <li><a href="{{ url_for('all_users') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/all.png') }}">All Users</a></li>
          {% else %}
            <li><a href="{{ url_for('user.register') }}">Register</a></li>
            <li><a href="{{ url_for('user.login') }}">Sign in</a></li>
            <li><a href="{{ url_for('user.forgot_password') }}">Forgot password?</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="col-xs-9 main">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('.cover-image').resizeToParent();
    $('.avatar-image').resizeToParent();
  });
</script>
{% endblock %}
