{% for comment in comments %}
  <div class="col-xs-12 comment">
    <div class="single-wrapper">
      <div class="info">
        <a href="{{ url_for('userProfile', uname=comment.user.username) }}"><div class="avatar"><img class="avatar-img" src="{{ comment.user.avatar if comment.user.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}"></div><div class="name">{{comment.user.lname}} {{comment.user.fname}}</div></a>
        {% if comment.parent_comment_id != None %}
          <div class="replied">replied</div>
          <a href="{{ url_for('userProfile', uname=comment.user.username) }}"><div class="avatar"><img class="avatar-img" src="{{ comment.user.avatar if comment.user.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}"></div><div class="replied-name">{{comment.parent.user.lname}} {{comment.parent.user.fname}}</div></a>
        {% endif %}
      </div>
      <div>{{comment.content|safe}}</div>
    </div>
    <div>
      <a class="reply-hint" href="{{ url_for('reply_comment', comment_id=comment.id) }}">Reply</a>
    </div>
  </div>
  {{comment_view(comment.reply)|safe}}
{% endfor%}