{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/competition.css') }}">
{% endblock %}
{% block body %}
<div class="container competition">
	<div class="row">
		<div class="col-md-3 navigation">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#mission">Mission</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#judges">Judges</a></li>
			</ul>
		</div>
		<div class="col-md-9 main">
			<div class="row" id="mission">
				<div class="col-md-12">
					<div class="title">Mission</div>
					<div class="content">
						In the past few years, the United States and China are leading the global energy and environment industry. Recent developments have revealed difficulties that come with collaboration efforts between the two power-players, often caused by lack of cultural understanding and channels for open thought and technology exchange.
					</div>
					<div class="content">
						While difficulties exist, the energy industry will only become more globalized in the future, favoring those who are prepared with collaboration skills, cultural understanding, and developed networks. China and the US will be at the center of the globalization. Thus, BERC China Focus and Tsinghua Green Association are organizing a student case-study competition to get students in the world’s top universities an opportunity to focus their skills, meet like-minded peers, and provide solutions to today's real-life issues.
					</div>
				</div>
			</div>
			<div class="row" id="rules">
				<div class="col-md-12">
					<div class="title">Rules</div>
					<div class="content">
						<a href="{{ url_for('rules') }}">Read Competition Rules  <span class="glyphicon glyphicon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<div class="row" id="judges">
				<div class="col-md-12">
					<div class="title">Judges</div>
					<div class="content">
						<div class="row">
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/1_harrisonfraker.png"></div>
								<div class="col-md-8">
									<div class="name">HARRISON FRAKER JR.</div>
									<div class="detail">Professor of architecture, Chair of Energy and Resources Group, former dean of UC Berkeley’s College of Environmental Design</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/2_danielkammen.png"></div>
								<div class="col-md-8">
									<div class="name">DANIEL KAMMEN</div>
									<div class="detail">Distinguished Professor of Energy at the University or California, Berkeley, with parallel appointments in the Energy and Resources Group, the Goldman School of Public Policy, and the department or Nuclear Engineering</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/3_kebinhe.png"></div>
								<div class="col-md-8">
									<div class="name">KEBIN HE</div>
									<div class="detail">Division of Air Pollution Control, Chair of Tsinghua School of Environment</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/4_jianezuo.png"></div>
								<div class="col-md-8">
									<div class="name">JIANE ZUO</div>
									<div class="detail">Professor and Vice Chair of Tsinghua School of Environment</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/5_wangcan.png"></div>
								<div class="col-md-8">
									<div class="name">CAN WANG</div>
									<div class="detail">Professor and Chair of the Department of Environmental Planning and Management</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/6.Stepanie.png"></div>
								<div class="col-md-8">
									<div class="name">STEPHANIE OHSHITA</div>
									<div class="detail">Working in China Energy Group, Associate Professor in University of San Francisco</div>
								</div>
							</div>
							<div class="col-md-6 judge">
								<div class="col-md-4"><img class="judges-img" src="../static/images/competition/judges/7_peggyliu.png"></div>
								<div class="col-md-8">
									<div class="name">PEGGY LIU</div>
									<div class="detail">Chairperson of JUCCCE, is internationally recognized for her expertise on China’s sustainability landscape and for fostering international collaboration with China</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}