{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/competition.css') }}">
{% endblock %}
{% block body %}
<div class="container competition">
	<div class="row">
		<div class="col-xs-3 navigation-container">
			<div id="nav-anchor"></div>
			<div class="navigation">
				<ul class="nav nav-pills nav-stacked">
					<li><a class="nav-active" href="#mission">Mission</a></li>
					<li><a href="#rules">Agenda</a></li>
					<li><a href="#rules2">Rules</a></li>
					<li><a href="#judges">Judges</a></li>
					<li><a href="#themes">Themes</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 main">
			<div class="anchor" id="mission"></div>
			<div class="row mission">
				<div class="col-xs-12">
					<div class="title">Mission</div>
					<div class="content">
						The 2015 US-China Student Energy and Environmental Case Competition brings together top institutions from US and China to host the very first competition of its kind, aiming to breed young top-tier leaders in energy and environment with a global mindset.
					</div>
					<br>
					<div class="content">
						Participants are challenged to solve real-world problems faced by a Chinese city on its way to become low-carbon and sustainable. Working in teams with interdisciplinary knowledge and skills, participants must tackle one of the cases from five areas: clean water, air quality, social spaces, transportation, and green buildings.
					</div>
					<br>
					<div class="content">
						Finalists will be invited to the final round in Berkeley, California and hack eco-city solutions with teammates from the other nationality.
					</div>
					<br>
					<div class="content">
						Be cosmopolitan, be green, be ambitious and sign up today.
					</div>
				</div>
			</div>
			<div class="anchor" id="rules"></div>
			<div class="row rules">
				<div class="col-xs-12">
					<div class="title">Agenda</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-12"><img class="judges-img" src="../static/images/competition/rules/Rules.jpg"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="anchor" id="rules2"></div>
			<div class="row rules2">
				<div class="col-xs-12">
					<div class="title">Rules</div>
					<div class="content">
						<div class="row single">
							<div class="col-xs-12">
								<div class="title">General</div>
								<div class="content">
									The 2015 US-China Environment and Energy Case Competition is hosted by University of California, Berkeley and Tsinghua School of Environment and organized by a diverse student team consists of members from Berkeley Energy and Resources Collaborative, Tsinghua, Renmin University, Stanford University, China Youth Climate Action Network, etc. . Students with various academic and cultural backgrounds will tackle a brand new challenging case problem about low-carbon eco-city with their teammates. We hope every participant will have an opportunity to solve a real-life problem that demandsintegrative problem-solving and innovative thinking to get prepared to all kinds of situations that they might face at the forefront of the next wave of US-China collaboration in global energy and environment fields.
								</div>
							</div>
						</div>
						<div class="row single">
							<div class="col-xs-12">
								<div class="title">Eligibility</div>
								<div class="content">
									<ol>
										<li>Each team must consist of 2 participants who are currently enrolled in their university as full-time students. We allow graduate or MBA students to participate; however, this competition is still targeted at full-time undergraduate student in both U.S. and China. So each team must have at least one undergraduate student enrolled as full-time.</li>
										<li>The multidisciplinary nature of the energy and environmental industry requires each team to have members from different backgrounds. We highly encourage each team to have one student with strong science background, and the other with humanity background.</li>
										<li>The competition is open to academic or professional advisors deemed acceptable by the organizers. However, in respecting the spirit of the fair competition, advisors are not permitted to read the participants’ proposal or involve in giving feedbacks to writing responses. Meanwhile, each team should include the basic information of anyone who has helped when submitting the proposal in the one-page acknowledgement. Teams violating this requirement will be disqualified immediately and for any future competitions.</li>
										<li>Deadline for both registration and team change is Nov 13,2014</li>
									</ol>
								</div>
							</div>
						</div>
						<a href="{{ url_for('rules') }}">Read Complete Competition Rules</a>
					</div>
				</div>
			</div>
			<div class="anchor" id="judges"></div>
			<div class="row judges">
				<div class="col-xs-12">
					<div class="title">Judges</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/1_harrisonfraker.png"></div>
								<div class="col-xs-8">
									<div class="name">HARRISON FRAKER JR.</div>
									<div class="detail">Professor of architecture, Chair of Energy and Resources Group, former dean of UC Berkeley’s College of Environmental Design</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/2_danielkammen.png"></div>
								<div class="col-xs-8">
									<div class="name">DANIEL KAMMEN</div>
									<div class="detail">Distinguished Professor of Energy at the University or California, Berkeley, with parallel appointments in the Energy and Resources Group, the Goldman School of Public Policy, and the department or Nuclear Engineering</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/3_kebinhe.png"></div>
								<div class="col-xs-8">
									<div class="name">KEBIN HE</div>
									<div class="detail">Division of Air Pollution Control, Chair of Tsinghua School of Environment</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/4_jianezuo.png"></div>
								<div class="col-xs-8">
									<div class="name">JIANE ZUO</div>
									<div class="detail">Professor and Vice Chair of Tsinghua School of Environment</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/5_wangcan.png"></div>
								<div class="col-xs-8">
									<div class="name">CAN WANG</div>
									<div class="detail">Professor and Chair of the Department of Environmental Planning and Management</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/6.Stepanie.png"></div>
								<div class="col-xs-8">
									<div class="name">STEPHANIE OHSHITA</div>
									<div class="detail">Working in China Energy Group, Associate Professor in University of San Francisco</div>
								</div>
							</div>
							<div class="col-xs-6 judge">
								<div class="col-xs-4"><img class="judges-img" src="../static/images/competition/judges/7_peggyliu.png"></div>
								<div class="col-xs-8">
									<div class="name">PEGGY LIU</div>
									<div class="detail">Chairperson of JUCCCE, is internationally recognized for her expertise on China’s sustainability landscape and for fostering international collaboration with China</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="anchor" id="themes"></div>
			<div class="row themes">
				<div class="col-xs-12">
					<div class="title">Themes</div>
					<div class="content">
							<div class="container-fluid">
								<div class="anchor" id="air_quality"></div>
								<div class="row single">
									<div class="col-xs-3">
										<img class="sub-image" src="../static/images/competition/themes/AIR POLLUTION.png">
									</div>
									<div class="col-xs-9">
										<div class="sub-title">Air Quality</div>
										<div class="sub-content">
											Air pollution problems in many Chinese cities have raised the awareness on the ubiquitous and chronic impacts on human health and ecology. Air quality issues need to be tackled via controlling sources, understanding pollutant transports, and human exposures.
										</div>
									</div>
								</div>
								<div class="anchor" id="p_and_s"></div>
								<div class="row single">
									<div class="col-xs-3">
										<img class="sub-image" src="../static/images/competition/themes/p_and_s.jpg">
									</div>
									<div class="col-xs-9">
										<div class="sub-title">Policies and Strategies</div>
										<div class="sub-content">
											Next year, Chinese cities are required to lower energy consumption by 15% comparing with 2011 baseline.  Effectively reducing carbon emission becomes a great challenge for local government. Successful low-carbon city strategies require comprehensive and integrated solutions.
										</div>
									</div>
								</div>
								<div class="anchor" id="transportation"></div>
								<div class="row single">
									<div class="col-xs-3">
										<img class="sub-image" src="../static/images/competition/themes/TRANSPORATION.jpg">
									</div>
									<div class="col-xs-9">
										<div class="sub-title">Low-Carbon Transportations</div>
										<div class="sub-content">
											Transportations are the veins of a city that keeps the giant machine running. City planners and denizens face many mode and design options: traditional automobiles, hybrid and electric cars, buses, metro, bikes, as well as the layouts of roads and public transportation routes.
										</div>
									</div>
								</div>
								<div class="anchor" id="s_and_d"></div>
								<div class="row single">
									<div class="col-xs-3">
										<img class="sub-image" src="../static/images/competition/themes/s_and_d.png">
									</div>
									<div class="col-xs-9">
										<div class="sub-title">Smart Grid and Distributed Generation</div>
										<div class="sub-content">
											China is the world's largest consumer of electricity. Smart grid and distributed generation are still emerging technologies and only realized through piloting projects. A combination of both could have a large role to play in future electricity system.
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}