{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/competition.css') }}">
{% endblock %}
{% block content %}
<div class="competition">
	<div class="container intro">
		<div class="intro-title">Intro</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="intro-content mission">
						Mission statement here
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="intro-content five-focuses">
						five-focuses here
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="intro-content flow-chart">
						flow-chart here
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="intro-content etc">
						etc here
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container rules">
		<div class="rules-title">Rules</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="rules-content">
						<div class="row">
							<div class="col-md-12"></div>
						</div>
						<div class="row">
							<div class="col-md-12"></div>
						</div>
						<div class="row">
							<div class="col-md-12"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container judges">
		<div class="judges-title">Judges</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="judges-content">
						<div class="row berkeley">
							<div class="col-md-3 title">BERKELEY PROFESSORS</div>
							<div class="col-md-9 content">
								<div class="row single">
									<div class="col-md-3">photo1</div>
									<div class="col-md-9 text">
										<div class="name">HARRISON FRAKER JR.</div>
										<div class="detail">
											Professor of architecture, Chair of Energy and Resources Group, former dean of UC Berkeley’s College of Environmental Design
										</div>
									</div>
								</div>
								<div class="row single">
									<div class="col-md-3">photo2</div>
									<div class="col-md-9 text">
										<div class="name">DANIEL KAMMEN</div>
										<div class="detail">
											Distinguished Professor of Energy at the University or California, Berkeley, with parallel appointments in the Energy and Resources Group, the Goldman School of Public Policy, and the department or Nuclear Engineering.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row tsinghua">
							<div class="col-md-3 title">TSINGHUA PROFESSORS</div>
							<div class="col-md-9 content">
								<div class="row single">
									<div class="col-md-3">photo3</div>
									<div class="col-md-9 text">
										<div class="name">KEBIN HE</div>
										<div class="detail">
											Division of Air Pollution Control, Chair of Tsinghua School of Environment
										</div>
									</div>
								</div>
								<div class="row single">
									<div class="col-md-3">photo4</div>
									<div class="col-md-9 text">
										<div class="name">JIANE ZUO</div>
										<div class="detail">
											Professor and Vice Chair of Tsinghua School of Environment
										</div>
									</div>
								</div>
								<div class="row single">
									<div class="col-md-3">photo5</div>
									<div class="col-md-9 text">
										<div class="name">CAN WANG</div>
										<div class="detail">
											Professor and Chair of the Department of Environmental Planning and Management
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row lbl">
							<div class="col-md-3 title">LBL National Lab Research Directors</div>
							<div class="col-md-9 content">
								<div class="row single">
									<div class="col-md-3">photo6</div>
									<div class="col-md-9 text">
										<div class="name">STEPHANIE OHSHITA</div>
										<div class="detail">
											Working in China Energy Group, Associate Professor in University of San Francisco
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row ngo">
							<div class="col-md-3 title">NGO FOUNDERS</div>
							<div class="col-md-9 content">
								<div class="row single">
									<div class="col-md-3">photo7</div>
									<div class="col-md-9 text">
										<div class="name">PEGGY LIU</div>
										<div class="detail">
											Chairperson of JUCCCE, is internationally recognized for her expertise on China’s sustainability landscape and for fostering international collaboration with China
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row industry">
							<div class="col-md-3 title">INDUSTRY REPRESENTATIVS</div>
							<div class="col-md-9 content">
								<div class="row single">
									<div class="col-md-3">photo8</div>
									<div class="col-md-9 text">
										<div class="name">XIAOMING FENG</div>
										<div class="detail">
											Corporate Research Fellow, ABB
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container rubrics">
		<div class="rubrics-title">Rubrics</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="rubrics-content">
						Rubrics here
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container prizes">
		<div class="prizes-title">The Prizes</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="prizes-content">
						The Prizes here
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}