{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}
{% block body %}
<div class="container event">
	<div class="row">
		<div class="col-xs-3 navigation-container">
			<div id="nav-anchor"></div>
			<div class="navigation">
				<ul class="nav nav-pills nav-stacked">
					<li><a class="nav-active" href="#forum">Forum</a></li>
					<li><a href="#social">Social</a></li>
					<li><a href="#tour">Tour</a></li>
					<li><a href="#workshop">Workshop</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 main">
			<div class="anchor" id="forum"></div>
			<div class="row forum">
				<div class="col-xs-12">
					<div class="title">Forum</div>
					
				</div>
			</div>
			<div class="anchor" id="social"></div>
			<div class="row social">
				<div class="col-xs-12">
					<div class="title">Social</div>

				</div>
			</div>
			<div class="anchor" id="tour"></div>
			<div class="row tour">
				<div class="col-xs-12">
					<div class="title">Tour</div>
					
				</div>
			</div>
			<div class="anchor" id="workshop"></div>
			<div class="row workshop">
				<div class="col-xs-12">
					<div class="title">Workshop</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}