{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}
{% block body %}
<div class="container event">
	<div class="row">
		<div class="col-xs-3 navigation-container">
			<div id="nav-anchor"></div>
			<div class="navigation">
				<ul class="nav nav-pills nav-stacked">
					<li><a class="nav-active" href="#forum">Forum</a></li>
					<li><a href="#social">Social</a></li>
					<li><a href="#tour">Tour</a></li>
					<li><a href="#workshop">Workshop</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 main">
			<div class="anchor" id="forum"></div>
			<div class="row forum">
				<div class="col-xs-12">
					<div class="title">Forum</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/campanile.jpg') }}"></div>
								<div class="name">Campanile</div>
							</div>
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/anna_head.jpg') }}"></div>
								<div class="name">Anna Head Alumnae Hall</div>
							</div>
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/student_presentation.jpg') }}"></div>
								<div class="name">Student Presentation</div>
							</div>
						</div>
					</div>
					<div class="content">
						Final presentation and Energy and Environment Forum will take place at Anna Head Alumnae Hall, UC Berkeley, at a location that is center to student life. Built in 1927 and covers approximately 6,500 square feet, Anna Head Alumnae Hall was built is listed on the National Register of Historic Places.
					</div>
					<br>
					<div class="content">
						At our opening session, leaders in our prestigious partner institutions will share their insights and inspiration for our energy and environment future. The most exciting moment of the whole competition – the final round presentation – will be our key event at the forum. Afterwards, competing teams will receive professional comments from expert judges and awards will be announced!
					</div>
				</div>
			</div>
			<div class="anchor" id="social"></div>
			<div class="row social">
				<div class="col-xs-12">
					<div class="title">Social</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-2">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/banquet.jpg') }}"></div>
								<div class="name">Banquet</div>
							</div>
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/game.jpg') }}"></div>
								<div class="name">Game playing</div>
							</div>
						</div>
					</div>
					<div class="content">
						Welcome to a grand dinner carefully prepared by the Competition Committee! You will be joined with other teams, Berkeley students, event organizers and scholars in your fields. It’s a good opportunity to relax from the case, make friends and potential partners for future career, share environmental concerns and solutions across geographic locations and cultures, and enjoy a delicate California taste.
					</div>
					<br>
					<div class="content">
						We have designed super fun activities for participants to collaborate with each other. Students from different countries and schools will team up, help each other, share your stories and have fun! We learn much more by seeing each other as future collaborator with the same inspirations, than seeing each other only as competitors.
					</div>
				</div>
			</div>
			<div class="anchor" id="tour"></div>
			<div class="row tour">
				<div class="col-xs-12">
					<div class="title">Tour</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-2">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/SF_LEED_tour.jpg') }}"></div>
								<div class="name">San Francisco Public Utilities Commission LEED Platinum Building</div>
							</div>
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/SF_Palace_of_fine_arts.jpg') }}"></div>
								<div class="name">SF Palace of Fine Arts</div>
							</div>
						</div>
					</div>
					<div class="content">
						The after-competition tour listed both Energy study targets and popular tour destinations, range from Chevron’s oil refinery to Palace of Fine Arts. We will keep the learning process going on (which perhaps should go on forever!), stay longer with our new friends, and go on the tour that could be the best reward for your hard work. (The tour charges a discounted fee)
					</div>
				</div>
			</div>
			<div class="anchor" id="workshop"></div>
			<div class="row workshop">
				<div class="col-xs-12">
					<div class="title">Workshop</div>
					<div class="content">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-2">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/workshop1.jpg') }}"></div>
								<div class="name">Workshop</div>
							</div>
							<div class="col-xs-4">
								<div class="picture"><img src="{{ url_for('static', filename='images/event/workshop2.jpg') }}"></div>
								<div class="name">Workshop</div>
							</div>
						</div>
					</div>
					<div class="content">
						The Energy and Environment Workshop provides customized enrichment sessions to our highly motivated and achieving students. We strive to provide a comprehensive workshop that builds up on the competition topics. Water, energy, air, city and economics are all in our scope.
					</div>
					<br>
					<div class="content">
						Learning with such a small group of people (our finalist teams) means all of the participants will have opportunity to talk with our energy and environment experts, getting individual advice and discussing their research interest in the school. The workshop is designed to help participants get a close education opportunity, a combination that will be hard to find elsewhere.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}