{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block body %}
<div class="home">
	<div class="container-fluid header">
		<div class="row">
			<div class="col-xs-12">
				<div class="header-content">
					<h1>US-China Energy and Environment</h1>
					<h1>Case Competition</h1>
					<span class="byline">The forefront of the next wave of China-US collaboration</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid competition">
		<div class="competition-title">The Competition</div>
		<div class="container competition-content">
			<div class="row">
				<div class="col-xs-12">
					<img class="competition-img" src="../static/images/homepage/page3/challenge.png">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h1>Five Topics, One Chinese City</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Preliminary Round: Solving Cases in Five Topics</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-2 hover-wrapper">
					<div class="ih-item circle effect1 hover">
						<a href="{{ url_for('competition') }}#air_quality">
        			<div class="competition-ihover-img"><img src="../static/images/homepage/page3/icon1.png" alt="img"></div>
			        <div class="info">
			          <div class="info-back">
			            <center><b class="competition-ihover-text">Air pollution</b></center>
			          </div>
			        </div>
		      	</a>
	      	</div>
				</div>
				<div class="col-xs-2">
					<div class="ih-item circle effect1 hover">
						<a href="{{ url_for('competition') }}#green_building">
        			<div class="competition-ihover-img"><img src="../static/images/homepage/page3/icon2.png" alt="img"></div>
			        <div class="info">
			          <div class="info-back">
			            <center><b class="competition-ihover-text">Green Building</b></center>
			          </div>
			        </div>
		      	</a>
	      	</div>
				</div>
				<div class="col-xs-2">
					<div class="ih-item circle effect1 hover">
						<a href="{{ url_for('competition') }}#clean_water">
        			<div class="competition-ihover-img"><img src="../static/images/homepage/page3/icon3.png" alt="img"></div>
			        <div class="info">
			          <div class="info-back">
			            <center><b class="competition-ihover-text">Clean Water</b></center>
			          </div>
			        </div>
		      	</a>
	      	</div>
				</div>
				<div class="col-xs-2">
					<div class="ih-item circle effect1 hover">
						<a href="{{ url_for('competition') }}#transportation">
        			<div class="competition-ihover-img"><img src="../static/images/homepage/page3/icon4.png" alt="img"></div>
			        <div class="info">
			          <div class="info-back">
			            <center><b class="competition-ihover-text">Clean Transportation</b></center>
			          </div>
			        </div>
		      	</a>
	      	</div>
				</div>
				<div class="col-xs-2">
					<div class="ih-item circle effect1 hover">
						<a href="{{ url_for('competition') }}#social_spaces">
        			<div class="competition-ihover-img"><img src="../static/images/homepage/page3/icon5.png" alt="img"></div>
			        <div class="info">
			          <div class="info-back">
			            <center><b class="competition-ihover-text">Social Spaces</b></center>
			          </div>
			        </div>
		      	</a>
	      	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Final city remains to be announced</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-5 col-xs-2">
					<img class="competition-ihover-img" src="../static/images/homepage/page3/city.jpg">
				</div>
			</div>
		</div>
	</div>

	<script>
		var width = $(".hover-wrapper").width();
		$(".hover").width(width);
		$(".hover").height(width);
		$(".hover-wrapper").resize(function() {
			var width = $(".hover-wrapper").width();
			$(".hover").width(width);
			$(".hover").height(width);
		})
	</script>

	<div class="container-fluid sponsor">
		<div class="sponsor-title">Sponsor</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 980px; height: 150px; overflow: hidden; margin: 0 auto;">

		        <!-- Loading Screen -->
		        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
	            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
	            </div>
	            <div style="position: absolute; display: block; background: url(../static/images/homepage/page4/loading.gif) no-repeat center center;
	                top: 0px; left: 0px;width: 100%;height:100%;">
	            </div>
		        </div>

		        <!-- Slides Container -->
		        <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 980px; height: 150px; overflow: hidden;">
	            <div><img u="image" src="../static/images/homepage/page4/a.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/b.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/c.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/d.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/e.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/f.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/g.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/h.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/i.png" /></div>
	            <div><img u="image" src="../static/images/homepage/page4/j.png" /></div>
		        </div>
			    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
jQuery(document).ready(function ($) {
	var options = {
    $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
    $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
    $AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
    $PauseOnHover: 4,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

    $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
    $SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
    $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
    $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
    $SlideWidth: 200,                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
    // $SlideHeight: 140,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
    $SlideSpacing: 10, 					                //[Optional] Space between each slide in pixels, default value is 0
    $DisplayPieces: 7,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
    $ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
    $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
    $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
    $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
  };

  var jssor_slider1 = new $JssorSlider$("slider1_container", options);

  //responsive code begin
  //you can remove responsive code if you don't want the slider scales while window resizes
  function ScaleSlider() {
  	var bodyWidth = document.body.clientWidth;
  	if (bodyWidth)
  		jssor_slider1.$SetScaleWidth(Math.min(bodyWidth, 980));
  	else
  		window.setTimeout(ScaleSlider, 30);
  }
  ScaleSlider();

  if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
  	$(window).bind('resize', ScaleSlider);
  }
  //if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
  //    $(window).bind("orientationchange", ScaleSlider);
  //}
  //responsive code end
});
</script>
{% endblock %}
