<!DOCTYPE HTML>
<html>
	<head>
		<title>EECC2015</title>
		<!-- <link rel="shortcut icon" href="/static/images/homepage/logo_icon/logo.ico" > -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900" rel="stylesheet" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/homepage/logo_icon/favicon.ico') }}" >
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		  	<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<li><a href="{{ url_for('home') }}"><img class="logo-pic" src="../static/images/homepage/page1/logo.png"></a></li>
		        <li><a href="{{ url_for('home') }}">Home</a></li>
		        <li><a href="{{ url_for('competition') }}">Competition</a></li>
		        <li><a href="{{ url_for('news_and_resources') }}">News and Resources</a></li>
		        <li><a href="{{ url_for('about_us') }}">About Us</a></li>
		      	{% if current_user.is_authenticated() %}
		          	<li><a href="{{ url_for('user') }}">Hi, {{ current_user.username }}</a></li>
		          	<li><a href="{{ url_for('user.logout') }}">Logout</a></li>
		        {% else %}
		        	<li><a href="{{ url_for('user.login') }}">Sign In</a></li>
		        	<li><a href="{{ url_for('user.register') }}">Register</a></li>
		        {% endif %}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="content-wrapper">
		    {% block body %}
		    {% endblock %}
		</div>
		<script>
			$(function() {
				$(window).scroll(function() {
					$('.navigation').css('top', $(window).scrollTop() + 'px');
					return false;
				});
			});
			$(function() {
			  $('a[href*=#]:not([href=#])').click(function() {
			  	// $(this).parent().parent().children().removeClass("active");
			  	// $(this).parent().addClass("active");
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top - 90
			        }, 0);
			        return false;
			      }
			    }
			  });
			});
		</script>
	</body>
</html>