<!DOCTYPE HTML>

<html>
	<form method="POST" action="{{ url_for('login') }}">
            <div>
            <label for="username">username</label>
            <input id="username" name="username" type="text" value="">
            
            </div>
            
            <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" value="">
            
            </div>
            
            <button class="btn" type="submit">Submit</button>

	</form>
</html>

