{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block body %}
<div class="container news">
	<div class="row">
		<div class="col-md-3 navigation">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#news">News and Events</a></li>
				<li><a href="#resources">Online Resources</a></li>
			</ul>
		</div>
		<div class="col-md-9 main">
			<div class="row" id="news">
				<div class="col-md-12">
					<div class="title">News and Events</div>
					<div id="carousel" class="carousel slide" data-ride="carousel">
					    <ol class="carousel-indicators">
					        <li data-target="#carousel" data-slide-to="0" class="active"></li>
					        <li data-target="#carousel" data-slide-to="1"></li>
					        <li data-target="#carousel" data-slide-to="2"></li>
					    </ol>
					    <div class="carousel-inner">
					        <div class="item active">
					            <img src="../static/images/competition/rules/1.png" alt="Slide 1" />
					            <div class="carousel-caption">
					            	<p>On Feb.21st - 22nd 2014, BERC China Focus participated in one of the most prestigious event in the energy field, MIT Energy Conference, together with China Energy Trip, an outstanding environmental group from China. The two parties jointly presented US-China Energy Student Competition and achieved great success!</p>
    							</div>
					        </div>
					        <div class="item">
					            <img src="../static/images/competition/rules/2.png" alt="Slide 2" />
					            <div class="carousel-caption">
					            	<p>On April.3rd 2014, Professor Stephanie Ohshita from the China Energy Group in Lawrance Berkeley National Lab gave a speech to BERC China Focus upon the topic of “Chinese Eco-city”. Her fascinating talk shed light on the definitions, developments and implementations of “Eco-city”</p>
    							</div>
					        </div>
					        <div class="item">
					            <img src="../static/images/competition/rules/3.png" alt="Slide 3" />
					            <div class="carousel-caption">
					            	<p>On July 17th-20th 2014, the Sixth International Youth Summit on Energy and Climate Change (IYSECC) will be held in Beijing. Jointly organized by CYCAN, CDM Club and TUSGA since 2009, IYSECC has achieved tremendous success in the past five conferences by attracting hundreds of young people from around the globe. Characterized by its professionalism, enterprise and internationalization, IYSECC has provided the youngsters with a stage to demonstrate and communicate their environmental achievements with friends worldwide.  In addition, the summit has also established a platform for government officers, scholars, professionals, green firms, environmental NGOs and the news media to further enable equal dialogues between different domains of the society.  With the help of IYSECC, young people interested in the environment will be given the opportunity to broaden their horizons and get in touch with the elites in the field</p>
    							</div>
					        </div>
					    </div> 
					    <a href="#carousel" class="left carousel-control" data-slide="prev">
					        <span class="glyphicon glyphicon-chevron-left black-glyphicon"></span>
					    </a>
					    <a href="#carousel" class="right carousel-control" data-slide="next">
					        <span class="glyphicon glyphicon-chevron-right black-glyphicon"></span>
					    </a>
					</div>
					<div class="content">This time, BERC China Focus will be participating with great pride and confidence, presenting ourselves not only in different speeches but sharing our thoughts during energy conservation and innovation programs. On the last day of IYSECC, US-China Energy Student Competition will be kicking off with a grand opening at the end of the summit. So stay tuned!</div>
				</div>
			</div>
			<div class="row" id="resources">
				<div class="col-md-12">
					<div class="title">Online Resources</div>
					<div class="content">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}