{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block body %}
<div class="container news">
	<div class="row">
		<div class="col-xs-12 main">
			<div class="row" id="news">
				<div class="col-xs-12">
					<center><div class="title">News and Events</div></center>
					<div id="carousel" class="carousel slide" data-ride="carousel">
				    <div class="carousel-inner">
				    	{% for news in news_lst[-3:] %}
				        <div class="{{ 'item active' if loop.index == 1 else 'item' }}">
				        	<a id="{{loop.index}}" href="{{ url_for('news', news_id=news.id) }}"><img class="news-image" src="{{ news.image }}"><div class="carousel-caption"><h3>{{news.title}}</h3></div></a>
				        </div>
					    {% endfor %}
				    </div>
				    <a href="#carousel" class="left carousel-control" data-slide="prev">
			        <span class="glyphicon glyphicon-chevron-left black-glyphicon"></span>
				    </a>
				    <a href="#carousel" class="right carousel-control" data-slide="next">
			        <span class="glyphicon glyphicon-chevron-right black-glyphicon"></span>
				    </a>
					</div>
				</div>
			</div>
			<div class="row all-news">
		    {% for news in news_lst %}
					<div class="col-xs-12 new">
		        <div class="single-news-image"><img class="small-image" src="{{ news.image }}"></div>
		        <div class="single-news-main">
		        	<div class="title"><a href="{{ url_for('news', news_id=news.id) }}">{{news.title}}</a></div>
		        	<div class="info">
		        		<div class="data">Data: {{news.time}}</div>
		        		<div class="author">Author: {{news.author}}</div>
		        	</div>
		        	<div class="content">{{news.content|safe}}</div>
		        </div>
		    	</div>
			  {% endfor %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
  	$('.single-news-main').css('width', ($('.new').width() - 220).toString()+'px');
    $('.small-image').resizeToParent();
    $('.news').resize( function() {
    	$('.single-news-main').css('width', ($('.new').width() - 220).toString()+'px');
    });
  });
</script>
{% endblock %}
