<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="personal-notifications">
	<div class="row notifications">
		{% if notifications %}
			{% for notification in notifications %}
				<div class="col-xs-12 alert alert-info notification">{{notification.content}}<a href="{{url_for('delete_notification', notif_id=notification.id)}}"><i class="fa fa-times fa-large"></i></a></div>
			{% endfor %}
		{% else %}
			<div class="col-xs-12 notification">You do not have any notification now.</div>
		{% endif %}
	</div>
</div>
{% endblock %}