{% extends 'layout.html' %}
{% block body %}
{% from "flask_user/_macros.html" import render_textarea_field, render_submit_field %}
<div class="container reply-form">
	<form action="{{ url_for('reply_comment', comment_id=comment.id) }}" method="POST" class="form" role="form" enctype='multipart/form-data'>
    {{ form.hidden_tag() }}
    {{ render_textarea_field(form.reply) }}
    {{ render_submit_field(form.submit, tabindex=20) }}
	</form>
</div>
<script type="text/javascript">
  editor.on( 'change', function( evt ) {
    var data = evt.editor.getData()
    console.log(data);
    console.log("val", $(".ckeditor_replace").val());
    $(".ckeditor_replace").text(data);
  });
</script>
{% endblock %}