{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}
{% block body %}
<div class="container rules">
	<div class="row">
		<div class="col-xs-12 main-title">Format and rules</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">Team requirement</div>
			<div class="content">
				The competition is targeted at undergraduate students currently enrolled in any Chinese or US university. The multidisciplinary nature of the energy and environmental industry requires each team to have members from different backgrounds.
			</div>
			<div class="content">
				- Round 1: The participants form teams of 2 people in their respective countries.
			</div>
			<div class="content">
				- Round 2: Among the winning teams from Round 1, each US team will be paired with a Chinese team, to form a larger and international team consists of 4people. Pairing will be decided by the organization committee based on the specialties and interests of each participant
			</div>
		</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">Competition format</div>
			<div class="content">
				<div class="underline">Unlocking the competition:</div>
				a. Competition will begin at different times in the US and in China.<br>
				b. Teams will register online and select a team leader before cases are released.<br>
				c. Each team needs to first complete online quizzes in order to have access to the five cases.
			</div>
			<br>
			<div class="content">
				<div class="underline">Round 1:</div>
				d. Five cases of different themes or from different industries will be released in October for the Chinese teams and November for the US teams. At the end of Round 1, one team from each country will be selected for one case, i.e. 5 Chinese teams and 5 US teams will enter the final round.
				<br>
				e. Teams will have one month to complete the case. During this time, no outside consultation is permitted. However, the judges will be available through emails to assist the teams when they encounter difficulties. Teams disobeying this requirement will be disqualified immediately and for any future competitions.
				<br>
				f. Once a team is shortlisted, they need to submit a video or present their case at a local branch for the final judging.
				<br>
				g. Teams will submit final proposals online.
				<br>
				h. Judges will select the teams based on the rubrics.
			</div>
			<br>
			<div class="content">
				<div class="underline">Round 2:</div>
				a. Announcement for the new joint China-US teams will be released one week before the beginning of Round 2.
				<br>
				b. The case problem (only one) will be announced at the beginning of Round 2, one day after the Chinese participants arrive on Berkeley campus and the teams have the chance to do ice-breakers, the tour of campus, and go through trainings and mentorship. 
				<br>
				c. Once the case is announced, the five teams will have three days (72 hours) to work on the case and finalize their solutions in the formats of a report and a 20-minute presentation. 
				<br>
				d. On the second days (after 48 hours), mentors from academia and industries will meet with each team for 30 minute to assist them.
				<br>
				e. Submission of the reports is required at the end of the three days (72 hours), and each team will carry out the presentation in front of a panel of judges from different disciplines.
				<br>
				f. The panel of judges and the audience will have 12 hours to decide the final winning teams. There will be two winning teams: judges’ choice and audience choice. Meanwhile, all teams will have the chance to rest.
			</div>
		</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">EECC Competition Rules</div>
			<div class="content">
				• In addition to the information used in this case, you may also use other relevant and crediblethird party sources of information. However, once the Case is distributed, outside assistance is NOT acceptable. Procuring such assistance is prohibited and will result in the team being disqualified from this and future competitions.
				<br><br>				
				• No additional information will be provided. Please make reasonable assumptions if necessary and cite them in your analysis. Any questions about the case may be sent to the organizing committee. Questions that can be answered will be emailed to all teams.
				<br><br>
				• There will be no changes permitted between rounds for those teams that are selected for the finals.
				<br><br>
				• The presentations for the first round will be limited to 30 minutes in length, 20 minutes for the presentation and 10 minutes for questions from the judges. There is no limit on the number of slides.
				<br><br>
				• The presentations for the final round will also be limited to 30 minutes in length, 20 minutes for the presentation and 10 minutes for questions from the judges. There is no limit on the number of slides.
				<br><br>
				• Each team should select a name which provides no reference to their school, mascots, etc. Neither school logos nor any other school reference are to be included on the team's presentation materials. This includes PowerPoint presentations, slides, posters, clothing and documents. No verbal references of school affiliation are to be made to the Judges during a team's presentation.
				<br><br>
				• Each presentation room has two full size projection screens that allow for simultaneous use of computer projection. Each room will contain a computer with Microsoft PowerPoint, and the designated Room Host will have your presentation loaded on the laptop and ready to run at the start of your presentation. If you would like to view the presentation rooms, you may do so at anytime prior to events beginning Friday morning.
				<br><br>
				• Withdrawing from the EECC after being admitted and confirmed attendance will result in the school not being invited back to the RECC for two years.
			</div>
		</div>
	</div>
</div>
{% endblock %}