{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}
{% block body %}
<div class="container rules">
	<div class="row">
		<div class="col-xs-12 main-title">Official Rules</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">General</div>
			<div class="content">
				The 2015 US-China Environment and Energy Case Competition is hosted by University of California, Berkeley and Tsinghua School of Environment and organized by a diverse student team consists of members from Berkeley Energy and Resources Collaborative, Tsinghua, Renmin University, Stanford University, China Youth Climate Action Network, etc. . Students with various academic and cultural backgrounds will tackle a brand new challenging case problem about low-carbon eco-city with their teammates. We hope every participant will have an opportunity to solve a real-life problem that demandsintegrative problem-solving and innovative thinking to get prepared to all kinds of situations that they might face at the forefront of the next wave of US-China collaboration in global energy and environment fields.
			</div>
		</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">Eligibility</div>
			<div class="content">
				<ol>
					<li>Each team must consist of 2 participants who are currently enrolled in their university as full-time students. We allow graduate or MBA students to participate; however, this competition is still targeted at full-time undergraduate student in both U.S. and China. So each team must have at least one undergraduate student enrolled as full-time.</li>
					<li>The multidisciplinary nature of the energy and environmental industry requires each team to have members from different backgrounds. We highly encourage each team to have one student with strong science background, and the other with humanity background.</li>
					<li>The competition is open to academic or professional advisors deemed acceptable by the organizers. However, in respecting the spirit of the fair competition, advisors are not permitted to read the participants’ proposal or involve in giving feedbacks to writing responses. Meanwhile, each team should include the basic information of anyone who has helped when submitting the proposal in the one-page acknowledgement. Teams violating this requirement will be disqualified immediately and for any future competitions.</li>
					<li>Deadline for both registration and team change is Nov 13,2014</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row single">
		<div class="col-xs-12">
			<div class="title">Competition Format</div>
			<div class="content">
				<ol>
					<li>In accordance with the actual situation in Jinan, Shandong Province, four cases of different themes authorized by both expects and government officers, will be disbursed on Nov 8, 2014 for China and Nov 11, 2014 for the U.S at our website: eecc2015.org. We guarantee, to our best of knowledge, that the cases used will be unpublished and untested.</li>
					<li>Each team will have three weeks to complete the case. Failures to submit the presentation on time will result in disqualification automatically.<br><br>
					* Deadline of submission for the Chinese teams: 11:59 PM, Nov 29,2014 (Beijing Time)<br>
					* Deadline for submission for the American teams: 11:59 PM, Dec 2,2014 (Pacific Time)<br><br>
					</li>
					<li>Please make reasonable assumptions if necessary and cite them in your analysis. No plagiarism is permitted to prepare for the presentation. Doing so will be considered a violation of the University of California Honor Code.</li>
					<li>Teams are not allowed to watch any of the other teams’ proposals in the preliminary round. You should not discuss the case presentations with other teams or faculty members for outside consultation during preparation until the winners have been announced. Teams disobeying this requirement will be disqualified immediately and for any future competitions.<br><br>
					* Important for Chinese participants: As you will get your cases released a week earlier than the U.S students because the host want to give you enough time to prepare the proposal in English, you are forbidden to talk with your U.S friends about the case problems before Nov 11, 2014.<br><br></li>
					<li>Teams are encouraged to use the library, internet, course notes/texts, etc. You are welcome to submit questions about the case by emailing to the committee team eecc2015@gmail.com before submitting all your materials. To ensure that every team has similar knowledge about the clarification, he committee team will send a copy of responses to the other participants. Question that is deemed appropriate will be emailed to all teams. Otherwise, you will be notified that an answer can not be given.</li>
					<li> The written response must be submitted in PDF format through our online platform. If you have any technical problems, please email eecc2015@gmail.com and the website committee will provide you technical support within 48 hours.</li>
					<li>The response must have reasonable spacing and font size: single-spaced, Cambria, in size 12.</li>
					<li>The response must not exceed 10 pages, including graphics, tables, acknowledgement and citations.</li>
				</ol>
			</div>
		</div>
	</div>
		<div class="row single">
		<div class="col-xs-12">
			<div class="title">Case Presentation</div>
			<div class="content">
				<ol>
					<li>Each team will have a maximum of 10 minutes to present and a 5-minute question and answer period with the audience and judges.</li>
					<li> The order of presentation will be selected at random and the schedule of final day be announced the night before the final day.</li>
					<li>Ten minutes prior to your team’s scheduled time slot, both teammates must sign up in the assigned preparation room.</li>
					<li>The team must also provide hard copies of your slides to the judges on the day of the case competition. The judging panel will consider both the written analysis and oral presentation when determining winners.</li>
					<li>Teams are encouraged to use PowerPoint or Keynotes for preparing slides and presentations. We not allow use of animations, video or audio features or any other add-on to standard PowerPoint features. The PowerPoint should have no more than 30 slides.</li>
					<li>Cue cards are allowed for use by the teams during their presentations.</li>
					<li> Presentations must be addressed in English.</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}