{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team_profile.css') }}">
{% endblock %}
{% block body %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, render_textarea_field, render_select_field %}
<h1>Update Profile</h1>
<form action="" method="POST" class="form" role="form" enctype='multipart/form-data'>
  {{ form.hidden_tag() }}
  {{ render_field(form.name, tabindex=10, value=team.name, placeholder="Team Name") }}
  <label for="idea" class="control-label">Comptetion Idea</label>
  <textarea name="editor1" id="editor1" tabindex=20 rows="10">
    {{team.idea.content}}
  </textarea>
  <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
  </script>
  {{ render_submit_field(form.submit, tabindex=30) }}
</form>
{% endblock %}