{% extends 'team-base.html' %}
{% block content %}
{% from "flask_user/_macros.html" import render_textarea_field, render_submit_field %}
<div class="team-profile">
  <div class="row idea">
    <div class="col-xs-12 title">TEAM IDEA</div>
    {% if team.idea.content == "" or team.idea.content == None %}
      <div class="col-xs-12">Your team does not have an idea, please update your idea <a href="{{ url_for('update_team') }}">Here</a></div>
    {% else %}
      <div class="col-xs-12">{{ team.idea.content|safe }}</div>
    {% endif %}
  </div>
  <div class="row comments">
    <div class="col-xs-12 title">COMMENTS</div>
    {% if comments %}
      {{comment_view(comments)|safe}}
    {% else %}
      <div class="col-xs-12 comment">Your team does not receive any comment yet.</div>
    {% endif %}
  </div>
  <div class="row results">
    <div class="col-xs-12 title">Case Status</div>
    <div class="col-xs-12 result">Case Number: {{team.caseNumber}}</div>
    {% if team.submission == None %}
      <div class="col-xs-12 result">Submitted: No</div>
    {% else %}
      <div class="col-xs-12 result">Submitted: Yes</div>
    {% endif %}
    {% if show_result %}
      {% if team.comp_status %}
        <div class="col-xs-12 result">Result: Pass</div>
      {% else %}
        <div class="col-xs-12 result">Result: Fail</div>
      {% endif %}
    {% else %}
      <div class="col-xs-12 result">Result: Not Available</div>
    {% endif %}
  </div>
  <div class="row case-problem">
    <div class="col-xs-12 title">Case Problem</div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/EECC 2015 Case Problems.pdf') }}">EECC 2015 Case Problems.pdf</a>
    </div>
  </div>
  <div class="row date-hints">
    <div class="col-xs-12 title">Date & Hints</div>
    <div class="content">
      <div class="col-xs-3 air">
        <div class="sub-title">AIR</div>
        <div class="sub-content"><a href="{{ url_for('static', filename='files/Case 1 Data.pdf') }}">Case 1 Data.pdf</a></div>
      </div>
      <div class="col-xs-3 water">
        <div class="sub-title">WATER</div>
        <div class="sub-content"><a href="{{ url_for('static', filename='files/Case 2 Data.pdf') }}">Case 2 Data.pdf</a></div>
      </div>
      <div class="col-xs-3 dg">
        <div class="sub-title">DG</div>
        <div class="sub-content"><a href="{{ url_for('static', filename='files/Case 3 Data.pdf') }}">Case 3 Data.pdf</a></div>
      </div>
      <div class="col-xs-3 best">
        <div class="sub-title">BEST</div>
        <div class="sub-content"><a href="{{ url_for('static', filename='files/Case 4 Data.pdf') }}">Case 4 Data.pdf</a></div>
      </div>
    </div>
  </div>
  <div class="row references">
    <div class="col-xs-12 title">Other References</div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/2013年统计年鉴.pdf') }}">2013年统计年鉴.pdf</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/BEST_Tool.air') }}">BEST_Tool.air</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/Electricity Schmetic Diagram.dwg') }}">Electricity Schmetic Diagram.dwg</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/Office Building Air Conditioning System (Chinese).dwg') }}">Office Building Air Conditioning System (Chinese).dwg</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/Office Building (Chinese).dwg') }}">Office Building (Chinese).dwg</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/statistical year book (Chinese).jpg') }}">statistical year book (Chinese).jpg</a>
    </div>
    <div class="col-xs-12 content">
      <a href="{{ url_for('static', filename='files/VAV Principle Diagram .dwg') }}">VAV Principle Diagram .dwg</a>
    </div>
  </div>
</div>
{% endblock %}