{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="container base">
  	{% if current_user.is_authenticated() %}
  		<div class="row top-cover">
        <img class="cover-image" src="{{ url_for('static', filename='images/homepage/page1/cover_photo.jpg') }}">
        <div class="mask"></div>
        <div class="avatars">
        	{% for member in team.members %}
		        <div class="avatar"><a href="{{ url_for('userProfile', uname=member.username) }}"><img class="avatar-image" src="{{ member.avatar if member.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}"></a></div>
		      {% endfor %}
        </div>
        <div class="name">{{ current_user.fname }} {{ current_user.lname }}</div>
      </div>
  	{% endif %}
  	<div class="row">
      <div class="col-xs-3 navigation">
        <ul class="nav nav-pills nav-stacked">
        </ul>
      </div>
      <div class="col-xs-9 main">
        {% block content %}
        {% endblock %}
      </div>
  </div>
</div>
{% endblock %}