{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team_profile.css') }}">
{% endblock %}
{% block body %}
<div class="container team-profile">
  <div class="row">
    <div class="col-xs-12 name">Name: {{ team.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12 member">Member:
      {% for member in team.members %}
        <div>{{member.fname}} {{member.lname}}</div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 idea">Idea: {{ team.idea.content }}</div>
  </div>
  <div class="row">
    <div class="col-xs-6 update">
      <a href="{{ url_for('update_team') }}">Update Team Profile</a>
    </div>
    <div class="col-xs-6 dismiss">
      <form method="post" action="{{ url_for('dismiss_team') }}">
        <input type="submit" value="Dismiss Team">
      </form>
    </div>
  </div>
</div>
{% endblock %}