{% extends 'team-base.html' %}
{% block content %}
<div class="team-profile">
  <div class="row">
    {% if team.idea.content == "" or team.idea.content == None %}
      <div class="col-xs-12 intro">Your team does not have an idea, please update your idea <a href="{{ url_for('update_team') }}">Here</a></div>
    {% else %}
      <div class="col-xs-12 idea">Team Idea: {{ team.idea.content }}</div>
    {% endif %}
  </div>
  <div class="row">
    {% if team.submission == None %}
      <div class="col-xs-12 idea">Submitted: Not</div>
    {% else %}
      <div class="col-xs-12 idea">Submitted: Yes</div>
    {% endif %}
  </div>
  <div class="row">
    {% if show_result %}
      {% if team.comp_status %}
        <div class="col-xs-12 idea">Result: Pass</div>
      {% else %}
        <div class="col-xs-12 idea">Result: Fail</div>
      {% endif %}
    {% else %}
      <div class="col-xs-12 idea">Result: Not Available</div>
    {% endif %}
  </div>
  {% if team.idea != null %}
  <a href="{{ url_for('comment_idea', idea_id=team.idea.id) }}"> Comment </a>
  {% endif %}

  {% for comment in comments %}
    {{comment.content}}<a href="{{ url_for('reply_comment', comment_id=comment.id) }}">reply</a>
  {% endfor%}
</div>
{% endblock %}