{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="container base">
  	{% if current_user.is_authenticated() %}
  		<div class="row top-cover">
        {% if team.caseNumber == 0 %}
          <img class="cover-image" src="{{ url_for('static', filename='images/team/0.jpg') }}">
        {% endif %}
        {% if team.caseNumber == 1 %}
          <img class="cover-image" src="{{ url_for('static', filename='images/team/1.jpg') }}">
        {% endif %}
        {% if team.caseNumber == 2 %}
          <img class="cover-image" src="{{ url_for('static', filename='images/team/2.jpg') }}">
        {% endif %}
        {% if team.caseNumber == 3 %}
          <img class="cover-image" src="{{ url_for('static', filename='images/team/3.jpg') }}">
        {% endif %}
        {% if team.caseNumber == 4 %}
          <img class="cover-image" src="{{ url_for('static', filename='images/team/4.jpg') }}">
        {% endif %}
        <div class="mask"></div>
        <div class="name">{{team.name}}</div>
        <div class="avatars">
        	{% for member in team.members %}
		        <div class="avatar"><a href="{{ url_for('userProfile', uname=member.username) }}"><img class="avatar-image" src="{{ member.avatar if member.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}"></a></div>
		      {% endfor %}
        </div>
      </div>
  	{% endif %}
  	<div class="row">
      <div class="col-xs-3 navigation">
        <ul class="nav nav-pills nav-stacked">
          <li {% if request.path=="/team" %}class="nav-active"{% endif %}><a href="{{ url_for('team_page') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/profile.png') }}">My Team</a></li>
          <li {% if request.path=="/update_team" %}class="nav-active"{% endif %}><a href="{{ url_for('update_team') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/update_profile.png') }}">Update Team Idea</a></li>
          {% if competition_start %}
            <li {% if request.path=="/team_upload" %}class="nav-active"{% endif %}><a href="{{ url_for('team_upload') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/change password_username.png') }}">Upload Proposal</a></li>
          {% endif %}
          <li {% if request.path=="/team_notifications" %}class="nav-active"{% endif %}><a href="{{ url_for('team_notifications') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/notification.png') }}">Notifications</a></li>
          <li><a href="{{ url_for('all_teams') }}"><img class="icon-image" src="{{ url_for('static', filename='images/user/all.png') }}">All Teams</a></li>
          <li class="dismiss">
            <form method="post" action="{{ url_for('dismiss_team') }}">
              <input class="btn btn-danger" type="submit" value="Dismiss Team">
            </form>
          </li>
        </ul>
      </div>
      <div class="col-xs-9 main">
        {% block content %}
        {% endblock %}
      </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('.cover-image').resizeToParent();
    $('.avatar-image').resizeToParent();
  });
</script>
{% endblock %}