<!-- extend base layout -->
{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>Update Profile</h1>
<form action="" method="POST" class="form" role="form" enctype='multipart/form-data'>
	{{ form.hidden_tag() }}
    {{ render_field(form.photo, tabindex=10) }}
    {{ render_field(form.fname, tabindex=10, value=user.fname) }}
    {{ render_field(form.lname, tabindex=10, value=user.lname) }}
    {{ render_field(form.email, tabindex=10, value=user.email) }}
    {{ render_field(form.school, tabindex=10, value=user.school) }}
    {{ render_field(form.old_password, tabindex=10) }}
    {{ render_submit_field(form.submit, tabindex=90) }}
</form>

{% endblock %}
