<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-3 avatar">
		<img src="{{ user.avatar if user.avatar != None else url_for('static', filename='upload/user_avatar/default1.png') }}">
	</div>
</div>
<div class="row">
	<div class="col-xs-12 name">Name: {{user.first_name}} {{user.last_name}}</div>
</div>
<div class="row">
	<div class="col-xs-12 email">Email: {{user.email}}</div>
</div>
<div class="row">
	<div class="col-xs-12 school">School: {{ user.school }}</div>

</div>
{% endblock %}
