<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-12 intro">Intro: {{ user.intro|safe }}</div>
</div>
<div class="row activities">
	{% for username in inv_list %}
		<div class="activity">
			{{ username }}
			<form action="{{ url_for('accept_invitation', uname=username) }}" method="post">
				<input type="submit" name="accept" value="accept" />
			</form>
			<form action="{{ url_for('reject_invitation', uname=username) }}" method="post">
				<input type="submit" name="reject" value="reject" />
			</form>
		</div>
	{% endfor %}
</div>
{% endblock %}
