{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<!DOCTYPE HTML>
<html>
	<head>
		<script src="../../static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
		      <div class="col-md-6 col-md-offset-3">
		        <div class="well well-sm">
		          <form class="form-horizontal" action="" method="post">
		          <fieldset>
		            <legend class="text-center">Send Message</legend>
		    
		            <!-- Name input-->
		            <div class="form-group">
		              <label class="col-md-3 control-label" for="subject">Subject</label>
		              <div class="col-md-9">
		                <input id="subject" name="subject" type="text" placeholder="Subject" class="form-control">
		              </div>
		            </div>
		    
		            <!-- Message body -->
		            <div class="form-group">
		              <label class="col-md-3 control-label" for="content">Content</label>
		              <div class="col-md-9">
		                <textarea class="form-control" id="content" name="content" placeholder="Please enter your message here..." rows="5"></textarea>
		              </div>
		            </div>
		    
		            <!-- Form actions -->
		            <div class="form-group">
		              <div class="col-md-12 text-center">
		                <button type="submit" class="btn btn-primary btn-lg">Send</button>
		              </div>
		            </div>
		          </fieldset>
		          </form>
		        </div>
		      </div>
			</div>
		</div>
	</body>
</html>
{% endblock body %}