.container-fluid {
  background: #ffffff; }
  .container-fluid .base {
    min-height: 1000px;
    background: #ffffff url('images/overlay.png');
    box-shadow: 0px 10px 30px 2px #888888; }
    .container-fluid .base .top-cover {
      height: 350px;
      overflow: hidden;
      position: relative; }
      .container-fluid .base .top-cover .mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        margin-right: 15px; }
        .container-fluid .base .top-cover .avatar {
          position: absolute;
          left: 50px;
          bottom: 0px;
          height: 150px;
          width: 150px;
          overflow: hidden; }
          .container-fluid .base .top-cover .name {
            position: absolute;
            left: 200px;
            bottom: 50px;
            height: 40px;
            padding-left: 40px;
            line-height: 40px;
            font-size: 30px;
            width: 800px;
            color: #ffffff;
            font-family: tenor-sans;
            overflow: hidden; }
    .container-fluid .base .basic-info {
      height: 40px;
      line-height: 40px;
      background: #252525;
      color: #ffffff;
      font-size: 18px;
      vertical-align: middle; }
      .container-fluid .base .basic-info .location,
      .container-fluid .base .basic-info .school,
      .container-fluid .base .basic-info .email,
      .container-fluid .base .basic-info .major {
        height: 40px;
        line-height: 40px; }
        .container-fluid .base .basic-info .location .icon-image,
        .container-fluid .base .basic-info .school .icon-image,
        .container-fluid .base .basic-info .email .icon-image,
        .container-fluid .base .basic-info .major .icon-image {
          height: 80%;
          margin-right: 5px; }
    .container-fluid .base .navigation {
      font-size: 18px;
      margin-top: 0px;
      padding: 0;
      margin-bottom: 20px;
      min-height: 500px;
      border-right: 1px solid lightgrey; }
      .container-fluid .base .navigation li {
        height: 45px; }
        .container-fluid .base .navigation li a {
          height: 45px;
          color: #000000; }
          .container-fluid .base .navigation li a .icon-image {
            height: 80%;
            margin-right: 8px; }
      .container-fluid .base .navigation li.nav-active {
        background: #50934d; }
        .container-fluid .base .navigation li.margin {
          height: 100px; }
    .container-fluid .base .main {
      margin-bottom: 20px; }
      .container-fluid .base .main .profile .intro {
        background: #ffffff;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bababa; }
        .container-fluid .base .main .profile .invitations {
          background: #ffffff;
          font-size: 18px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid #bababa;
          border-bottom: 1px solid #bababa;
          margin-top: 10px; }
          .container-fluid .base .main .profile .invitations .invitation {
            font-size: 18px;
            height: 48px;
            line-height: 48px; }
            .container-fluid .base .main .profile .invitations .invitation form {
              width: 64px;
              float: right;
              line-height: 48px; }
              .container-fluid .base .main .profile .invitations .invitation form .accept {
                background: #50934d;
                color: #ffffff; }
                .container-fluid .base .main .profile .invitations .invitation form .reject {
                  margin-left: 10px; }
          .container-fluid .base .main .profile .invitations .invitation:hover {
            background: #ebebeb; }
      .container-fluid .base .main .update {
        width: 85%;
        margin: 0 auto;
        margin-top: 30px; }
        .container-fluid .base .main .update .ckeditor_replace {
          display: none; }
      .container-fluid .base .main .change-uname,
      .container-fluid .base .main .change-pwd {
        width: 85%;
        margin: 0 auto;
        margin-top: 30px; }
        .container-fluid .base .main .invitation-form {
          width: 85%;
          margin: 0 auto;
          margin-top: 30px; }
          .container-fluid .base .main .invitation-form ul li a {
            cursor: pointer;
            font-size: 16px; }
          .container-fluid .base .main .invitation-form ul .active a {
            background: #ffffff url('images/overlay.png'); }
          .container-fluid .base .main .invitation-form form {
            margin-top: 30px;
            font-size: 16px; }
            .container-fluid .base .main .invitation-form form button[type="submit"] {
              display: block;
              margin: 0 auto; }
      .container-fluid .base .main .personal-notifications .notifications {
        border-top: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-top: 10px;
        padding-bottom: 10px; }
        .container-fluid .base .main .personal-notifications .notifications .title {
          font-size: 18px; }
          .container-fluid .base .main .personal-notifications .notifications .notification {
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 40px; }
            .container-fluid .base .main .personal-notifications .notifications .notification .fa {
              float: right; }
      .container-fluid .base .main .register {
        margin-top: 100px; }
        .container-fluid .base .main .register form {
          width: 60%;
          margin: 0 auto; }

.view .container {
  min-height: 1000px;
  background: #ffffff;
  box-shadow: 0px 10px 30px 2px #888888; }
  .view .container .top-cover {
    height: 350px;
    overflow: hidden;
    position: relative; }
    .view .container .top-cover .mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      margin-right: 15px; }
      .view .container .top-cover .avatar {
        position: absolute;
        left: 50px;
        bottom: 0px;
        height: 150px;
        width: 150px;
        overflow: hidden; }
        .view .container .top-cover .name {
          position: absolute;
          left: 200px;
          bottom: 50px;
          height: 40px;
          padding-left: 40px;
          line-height: 40px;
          font-size: 30px;
          width: 800px;
          color: #ffffff;
          overflow: hidden; }
  .view .container .basic-info {
    height: 40px;
    line-height: 40px;
    background: #252525;
    color: #ffffff;
    font-size: 18px;
    vertical-align: middle; }
    .view .container .basic-info .location, .view .container .basic-info .school,
    .view .container .basic-info .email, .view .container .basic-info .major {
      height: 40px;
      line-height: 40px; }
      .view .container .basic-info .location .icon-image,
      .view .container .basic-info .school .icon-image,
      .view .container .basic-info .email .icon-image,
      .view .container .basic-info .major .icon-image {
        height: 80%;
        margin-right: 5px; }
  .view .container .intro {
    background: #ffffff;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px; }
