.competition {
  box-shadow: 0px 10px 30px 2px #888888;
  background: #ffffff;
  padding-top: 50px;
  min-height: 900px; }
  .competition .navigation-container {
    position: relative; }
    .competition .navigation-container .navigation {
      font-size: 18px;
      margin-bottom: 20px; }
      .competition .navigation-container .navigation.stick {
        position: fixed;
        top: 0;
        z-index: 10000;
        margin-top: 120px; }
        .competition .navigation-container a {
          color: #279911; }
          .competition .navigation-container a.nav-active {
            background-color: #ccc; }
  .competition .main {
    margin-bottom: 20px;
    padding-bottom: 300px; }
    .competition .main .title {
      font-size: 25px;
      font-weight: bold;
      color: #279911;
      font-family: tenor-sans;
      text-transform: uppercase;
      margin-bottom: 10px; }
      .competition .main .content {
        text-align: center;
        font-size: 18px; }
        .competition .main .mission, .competition .main .rules, .competition .main .judges,
        .competition .main .themes {
          padding-bottom: 50px; }
          .competition .main .mission .content {
            text-align: left; }
    .competition .main .themes .content .single {
      border-radius: 110px;
      -webkit-border-radius: 110px;
      -moz-border-radius: 110px;
      border: 1px solid #d9d9d9;
      background: #f7f7f7;
      margin-bottom: 20px;
      padding-top: 8px;
      padding-bottom: 5px; }
    .competition .main .themes .sub-image {
      width: 100%;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px; }
      .competition .main .themes .sub-title {
        font-weight: bold; }
        .competition .main .themes .sub-content {
          text-align: left;
          font-weight: normal;
          font-size: 16px; }
    .competition .main .judge {
      margin-top: 10px;
      margin-bottom: 10px; }
      .competition .main .judge .judges-img {
        width: 100%; }
        .competition .main .judge .name {
          text-align: center;
          font-size: 16px;
          font-weight: bold; }
          .competition .main .judge .detail {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            color: #7f7f7f; }
    .competition .main .rules .content img {
      width: 100%; }
      .competition .main .rules .content a {
        font-size: 20px; }
    .competition .main .rules2 .single .title {
      font-size: 16px;
      text-align: left; }
      .competition .main .rules2 .single .content {
        text-align: left; }
