.competition {
  box-shadow: 0px 10px 30px 2px #888888;
  background: #ffffff url('images/overlay.png');
  padding-top: 50px;
  margin-bottom: 50px;
  min-height: 900px; }
  .competition .navigation {
    font-size: 18px;
    margin-bottom: 20px; }
    .competition .main {
      margin-bottom: 20px; }
      .competition .main .title {
        font-size: 25px;
        font-weight: bold;
        color: #428bca;
        text-transform: uppercase;
        margin-bottom: 10px; }
        .competition .main .content {
          text-align: center;
          font-size: 18px; }
          .competition .main #mission, .competition .main #rules, .competition .main #judges,
          .competition .main #rubrics, .competition .main #prizes {
            margin-bottom: 50px; }
            .competition .main #mission .content {
              text-align: left; }
      .competition .main .judge {
        margin-top: 10px;
        margin-bottom: 10px; }
        .competition .main .judge .judges-img {
          width: 100%; }
          .competition .main .judge .name {
            text-align: center;
            font-size: 16px;
            font-weight: bold; }
            .competition .main .judge .detail {
              margin-top: 10px;
              text-align: center;
              font-size: 16px;
              font-weight: normal;
              color: #7f7f7f; }
      .competition .main #carousel {
        margin-bottom: 10px; }
        .competition .main #carousel .carousel-indicators li {
          width: 15px;
          height: 15px;
          margin: 2px;
          border: 1px solid #000000; }
          .competition .main #carousel .carousel-indicators .active {
            background-color: #000000; }
            .competition .main #carousel .carousel-control.left,
            .competition .main #carousel .carousel-control.left:hover,
            .competition .main #carousel .carousel-control.right,
            .competition .main #carousel .carousel-control.left:hover {
              background: none; }
              .competition .main #carousel .black-glyphicon {
                color: #000000; }
