.news {
  box-shadow: 0px 10px 30px 2px #888888;
  background: #ffffff;
  padding-top: 50px;
  min-height: 1000px;
  min-width: 1000px; }
  .news .navigation {
    font-size: 18px;
    margin-bottom: 20px; }
    .news .main {
      margin-bottom: 20px; }
      .news .main .title {
        font-size: 25px;
        font-weight: bold;
        color: #428bca;
        text-transform: uppercase;
        margin-bottom: 10px; }
        .news .main .content {
          font-size: 18px; }
          .news .main #resources, .news .main #news {
            margin-bottom: 20px; }
            .news .main #carousel {
              margin-bottom: 15px;
              height: 450px; }
              .news .main #carousel .carousel-inner {
                height: 450px; }
                .news .main #carousel .carousel-inner .item {
                  height: 450px;
                  padding: 0 15%;
                  padding-bottom: 15px; }
                  .news .main #carousel .carousel-inner .item img {
                    height: 100%;
                    margin: 0 auto; }
                    .news .main #carousel .carousel-inner .item .carousel-caption {
                      bottom: 0px;
                      background: rgba(255, 255, 255, 0.6); }
              .news .main #carousel .carousel-control.left,
              .news .main #carousel .carousel-control.left:hover,
              .news .main #carousel .carousel-control.right,
              .news .main #carousel .carousel-control.left:hover {
                background: none; }
                .news .main #carousel .black-glyphicon {
                  color: #000000; }

.new {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #bababa; }
  .new .single-news-image {
    width: 180px;
    height: 100px;
    float: left;
    overflow: hidden; }
    .new .single-news-main {
      float: right; }
      .new .single-news-main .info {
        font-size: 18px; }
        .new .single-news-main .info .data, .new .single-news-main .info .author {
          display: inline-block; }
          .new .single-news-main .info .author {
            margin-left: 20px; }
      .new .single-news-main .content {
        margin-top: 10px; }

.news-view {
  box-shadow: 0px 10px 30px 2px #888888;
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  min-height: 900px; }
  .news-view .image img {
    width: 100%; }
  .news-view .content {
    font-size: 18px; }
