.rules {
  box-shadow: 0px 10px 30px 2px #888888;
  background: #ffffff;
  padding-top: 50px;
  margin-bottom: 50px;
  min-height: 900px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px; }
  .rules .main-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #279911;
    font-family: tenor-sans; }
    .rules .single {
      margin-top: 20px; }
      .rules .single .title {
        font-size: 20px;
        font-weight: bold;
        color: #279911;
        font-family: tenor-sans; }
        .rules .single .content {
          font-size: 18px; }
          .rules .single .content .row .index {
            font-weight: 700;
            float: left; }
            .rules .single .content .row .body {
              margin-left: 4px;
              width: 95%;
              float: left; }
  .rules .underline {
    text-decoration: underline; }
