.team-profile {
  padding-bottom: 50px;
  min-height: 900px; }

  .team-update {
    padding-bottom: 50px;
    min-height: 900px;
    width: 800px;
    margin: 0 auto; }
    .team-update .ckeditor_replace {
      display: none; }
