.container-fluid {
  background: #ffffff; }
  .container-fluid .base {
    min-height: 900px;
    background: #ffffff url('images/overlay.png');
    box-shadow: 0px 10px 30px 2px #888888; }
    .container-fluid .base .top-cover {
      height: 350px;
      overflow: hidden;
      position: relative; }
      .container-fluid .base .top-cover .mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        margin-right: 15px; }
        .container-fluid .base .top-cover .name {
          position: absolute;
          left: 185px;
          bottom: 180px;
          height: 40px;
          line-height: 40px;
          font-size: 30px;
          width: 800px;
          color: #ffffff;
          overflow: hidden;
          text-align: center; }
          .container-fluid .base .top-cover .avatars {
            position: absolute;
            left: 405px;
            bottom: 10px;
            height: 150px;
            width: 340px;
            overflow: hidden; }
            .container-fluid .base .top-cover .avatars .avatar {
              width: 150px;
              height: 150px;
              margin: 0 10px;
              overflow: hidden;
              border-radius: 100%;
              float: left; }
              .container-fluid .base .top-cover .avatars .avatar img {
                height: 150px;
                width: 150px; }
    .container-fluid .base .navigation {
      font-size: 18px;
      margin-top: 0px;
      padding: 0;
      margin-bottom: 20px;
      min-height: 500px;
      border-right: 1px solid lightgrey; }
      .container-fluid .base .navigation li {
        height: 45px; }
        .container-fluid .base .navigation li a {
          height: 45px;
          color: #000000; }
          .container-fluid .base .navigation li a .icon-image {
            height: 80%;
            margin-right: 8px; }
      .container-fluid .base .navigation li.nav-active {
        background: #50934d; }
    .container-fluid .base .main .team-profile {
      padding-bottom: 50px;
      min-height: 900px; }
      .container-fluid .base .main .team-profile .idea {
        background: #ffffff;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bababa; }
        .container-fluid .base .main .team-profile .idea .comment-hint {
          font-size: 16px; }
      .container-fluid .base .main .team-profile .results {
        background: #ffffff;
        margin-top: 10px;
        border-top: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-top: 10px;
        padding-bottom: 10px; }
        .container-fluid .base .main .team-profile .results .result {
          font-size: 18px; }
      .container-fluid .base .main .team-profile .comments {
        background: #ffffff;
        margin-top: 10px;
        border-top: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-top: 10px;
        padding-bottom: 10px; }
        .container-fluid .base .main .team-profile .comments .title {
          font-size: 18px; }
          .container-fluid .base .main .team-profile .comments .comment {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 5px;
            height: 30px;
            line-height: 30px; }
            .container-fluid .base .main .team-profile .comments .comment a.reply-hint {
              float: right; }
        .container-fluid .base .main .team-profile .comments .comment:hover {
          background: #ebebeb; }
    .container-fluid .base .main .team-update {
      padding-bottom: 50px;
      width: 85%;
      margin: 0 auto; }
      .container-fluid .base .main .team-update .ckeditor_replace {
        display: none; }
        .container-fluid .base .main .team-update .dismiss {
          float: right; }
    .container-fluid .base .main .team-upload {
      padding-bottom: 50px;
      width: 85%;
      margin: 0 auto;
      margin-top: 20px; }
      .container-fluid .base .main .team-notification .notifications {
        border-top: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-top: 10px;
        padding-bottom: 10px; }
        .container-fluid .base .main .team-notification .notifications .title {
          font-size: 18px; }
          .container-fluid .base .main .team-notification .notifications .notification {
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 40px; }
            .container-fluid .base .main .team-notification .notifications .notification:hover {
              background: #ebebeb; }
