{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block body %}
<div class="container new">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="title"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="image"><img src="../static/images/news/1.png"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="content">On Feb.21st - 22nd 2014, BERC China Focus participated in one of the most prestigious event in the energy field, MIT Energy Conference, together with China Energy Trip, an outstanding environmental group from China. The two parties jointly presented US-China Energy Student Competition and achieved great success!</div>
		</div>
	</div>
</div>
{% endblock %}