{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}
{% block body %}
<div class="container new">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="title"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="image"><img src="../static/images/news/2.png"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<div class="content">On April.3rd 2014, Professor Stephanie Ohshita from the China Energy Group in Lawrance Berkeley National Lab gave a speech to BERC China Focus upon the topic of “Chinese Eco-city”. Her fascinating talk shed light on the definitions, developments and implementations of “Eco-city”</div>
		</div>
	</div>
</div>
{% endblock %}