{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Welcome! You have created an account with the 2015 US-China Energy and Environment Competition.</p>

<p>If you are a current college student considering join in the competition.
Please login and fill up your personal information on the personal info page: <a href={{url_for(update_profile)}}> link </a> </p>

<p> As a member of EECC2015, you will get updates from the competition organizers. </p>

Please also visit us on:
- Competition Website: http://www.eecc2015.org/
- BERC Website: http://berc.berkeley.edu/
- Facebook: https://www.facebook.com/bercchinafocus
- Renren: http://page.renren.com/601845509

<p> If you have any comments or questions, please contact eecc2015@gmail.com. </p>

{% endblock %}