.about {
	font-family: lato;
	box-shadow: 0px 10px 30px 2px #888888;
	background: #ffffff url('images/overlay.png');
	padding-top: 50px;
	margin-bottom: 50px;
	min-height: 100%;
	.navigation {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.main {
		margin-bottom: 20px;
		.title {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
		}
		.content {
			text-align: center;
			font-size: 18px;
		}
	}
}