.about {
	box-shadow: 0px 10px 30px 2px #888888;
	background: #ffffff url('images/overlay.png');
	padding-top: 50px;
	margin-bottom: 50px;
	min-height: 900px;
	.navigation {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.main {
		margin-bottom: 20px;
		.title {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
		}
		.content {
			text-align: center;
			font-size: 18px;
		}
		#sponsors, #organizers {
			.organizers-img {
				width: 100%;
			}
			h1 {
				font-size: 17px;
				font-weight: bold;
				text-align: center;
				margin-top: 15px;
			}
		}
		#involve {
			.content {
				a {
					text-decoration: none;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
		#about, #sponsors, #organizers, #involve, #contact {
			margin-bottom: 20px;
		}
	}
}