.event {
	box-shadow: 0px 10px 30px 2px #888888;
	background: #ffffff;
	padding-top: 50px;
	margin-bottom: 50px;
	min-height: 900px;
	.navigation-container {
		position: relative;
		.navigation {
			font-size: 18px;
			margin-bottom: 20px;
		}
		.navigation.stick {
			position: fixed;
	    top: 0;
	    z-index: 10000;
	    margin-top: 120px;
		}
		a.nav-active {
	    background-color: #ccc;
		}
	}
	.main {
		margin-bottom: 20px;
		padding-bottom: 300px;
		.title {
			font-size: 25px;
			font-weight: bold;
			color: #428bca;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.content {
			text-align: left;
			font-size: 18px;
			.picture {
				margin-bottom: 10px;
				img {
					width: 100%;
				}
			}
			.name {
				text-align: center;
			}	
		}
		.forum, .social, .tour, .workshop {
			padding-bottom: 50px;
		}
	}
}