.home {
	font-family: lato;
	.header {
		height: 500px;
		background: url('../images/homepage/page1/pic2.jpg') center center;
		background-size: cover;
		.header-content {
			width: 70%;
			margin: 0 auto;
			margin-top: 150px;
			h1 {
				margin-top: 10px;
				text-align: center;
				color: #e2e2e2;
				font-size: 35px;
				font-weight: 900;
			}
			.byline {
				margin-top: 20px;
				display: block;
				background: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,1), rgba(255,255,255,0));
				color: rgba(255,255,255,0.9);
				font-size: 17px;
				text-align: center;
			}
		}
	}
	.competition {
		position: relative;
		background: #ffffff url('images/overlay.png');
		padding-bottom: 80px;
		.competition-title {
			display: block;
			position: absolute;
			top: -50px;
			left: 50%;
			width: 390px;
			height: 50px;
			background: #ffffff url('images/overlay.png');
			text-align: center;
			font-size: 16px;;
			font-weight: 700;
			text-transform: uppercase;
			color: #484d55;
			letter-spacing: 0.4px;
			line-height: 30px;
			margin-bottom: -30px;
			margin-left: -195px;
			padding-top: 15px;
		}
		.competition-title:before {
			content: '';
			position: absolute;
			bottom: -38px;
			left: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
		}
		.competition-title:after {
			content: '';
			position: absolute;
			bottom: -38px;
			right: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.competition-content {
			.competition-img {
				width: 100%;
			}
			h1 {
				text-align: center;
				margin: 0;
				margin-top: 5px;
				font-size: 35px;
				font-weight: bold;
				letter-spacing: 3.5px;
			}
			h3 {
				text-align: center;
				margin-bottom: 15px;
				color: rgb(83, 146, 0);
				font-size: 17px;
				font-weight: bold;
				letter-spacing: 1.7px;
			}
			// The CSS for ihover
			.ih-item {
			  position: relative;
			  -webkit-transition: all 0.35s ease-in-out;
			  -moz-transition: all 0.35s ease-in-out;
			  transition: all 0.35s ease-in-out;
			}
			.ih-item,
			.ih-item * {
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			  box-sizing: border-box;
			}
			.ih-item a {
			  color: #333;
			}
			.ih-item a:hover {
			  text-decoration: none;
			}
			.ih-item img {
			  width: 100%;
			  height: 100%;
			}

			.ih-item.circle {
			  position: relative;
			  width: 220px;
			  height: 220px;
			  border-radius: 50%;
			}
			.ih-item.circle .img {
			  position: relative;
			  width: 220px;
			  height: 220px;
			  border-radius: 50%;
			}
			.ih-item.circle .img:before {
			  position: absolute;
			  display: block;
			  content: '';
			  width: 100%;
			  height: 100%;
			  border-radius: 50%;
			  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
			  -webkit-transition: all 0.35s ease-in-out;
			  -moz-transition: all 0.35s ease-in-out;
			  transition: all 0.35s ease-in-out;
			}
			.ih-item.circle .img img {
			  border-radius: 50%;
			}
			.ih-item.circle .info {
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  text-align: center;
			  border-radius: 50%;
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			}
			.ih-item.circle.effect1 .img {
			  position: absolute;
			  top: 10px;
			  bottom: 0;
			  left: 10px;
			  right: 0;
			  width: auto;
			  height: auto;
			}
			.ih-item.circle.effect1 .img:before {
			  display: none;
			}
			.ih-item.circle.effect1.colored .info {
			  background: #1a4a72;
			  background: rgba(26, 74, 114, 0.6);
			}
			.ih-item.circle.effect1 .info {
			  top: 10px;
			  bottom: 0;
			  left: 10px;
			  right: 0;
			  background: #333333;
			  background: rgba(0, 0, 0, 0.6);
			  opacity: 0;
			  -webkit-transition: all 0.5s ease-in-out;
			  -moz-transition: all 0.5s ease-in-out;
			  transition: all 0.5s ease-in-out;
			}
			.ih-item.circle.effect1 .info h3 {
			  color: #fff;
			  text-transform: uppercase;
			  position: relative;
			  letter-spacing: 2px;
			  font-size: 22px;
			  margin: 0 30px;
			  padding: 55px 0 0 0;
			  height: 110px;
			  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
			}
			.ih-item.circle.effect1 .info p {
			  color: #bbb;
			  padding: 10px 5px;
			  font-style: italic;
			  margin: 0 30px;
			  font-size: 12px;
			  border-top: 1px solid rgba(255, 255, 255, 0.5);
			}
			.ih-item.circle.effect1 a:hover .info {
			  opacity: 1;
			}
			.info-back {
				margin-top: 32%;
			}
			// ihove CSS above
			.competition-ihover-text {
				color: #ffffff;
				font-size: 120%;
			}
			.competition-ihover-img {
				width: 100%;
			}
		}
	}
	.sponsor {
		position: relative;
		background: #f3f3f3 url('images/overlay.png');
		padding-top: 80px;
		padding-bottom: 80px;
		.sponsor-title {
			display: block;
			position: absolute;
			top: -50px;
			left: 50%;
			width: 390px;
			height: 50px;
			background: #f3f3f3 url('images/overlay.png');
			text-align: center;
			font-size: 16px;;
			font-weight: 700;
			text-transform: uppercase;
			color: #484d55;
			letter-spacing: 0.4px;
			line-height: 30px;
			margin-bottom: -30px;
			margin-left: -195px;
			padding-top: 15px;
		}
		.sponsor-title:before {
			content: '';
			position: absolute;
			bottom: -38px;
			left: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
		}
		.sponsor-title:after {
			content: '';
			position: absolute;
			bottom: -38px;
			right: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.sponsor-img {
			width: 100%;
		}
		h1 {
			font-size: 17px;
			font-weight: bold;
			text-align: center;
			margin-top: 15px;
		}
	}
}