$navbar_height: 70px;
html, body {
	min-height: 100%;
	min-width: 1300px;
}
body {
	padding-top: 70px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.navbar {
	min-width: 1300px;
	height: $navbar_height;
	line-height: $navbar_height;
	margin: 0;
	.container-fluid {
		height: $navbar_height;
		line-height: $navbar_height;
		background: #222835;
		background-color: rgba(44,50,63,1);
		text-align: center;
		.navbar-header {
			height: $navbar_height;
			line-height: $navbar_height;
		}
		.navbar-collapse {
			height: $navbar_height;
			line-height: $navbar_height;
			text-align: center;
			.navbar-nav {
				.logo-pic {
					height: 80%;
					margin: auto;
				}
				display: inline-block;
				float: none;
				height: $navbar_height;
				line-height: $navbar_height;
				position: relative;
				li {
					height: $navbar_height;
					line-height: $navbar_height;
					vertical-align: middle;
					padding: 0 26px;;
					a {
						display: block;
						height: $navbar_height;
						line-height: $navbar_height;
						padding: 0;
						color: rgba(255,255,255,0.8);
						text-decoration: none;
						font-size: 16px;
						letter-spacing: 4px;
					}
				}
			}
		}
	}
}