$navbar_height: 70px;
$footer_height: 50px;
html, body {
	min-height: 100%;
	min-width: 1330px;
}
body {
	padding-top: 70px;
	font-family: source-sans-pro, sans-serif;
}
.nav>li>a:hover {
	background: none;
}
.navbar {
	min-width: 1330px;
	height: $navbar_height;
	line-height: $navbar_height;
	margin: 0;
	.container-fluid {
		height: $navbar_height;
		line-height: $navbar_height;
		background-color: #252525;
		text-align: center;
		.navbar-header {
			height: $navbar_height;
			line-height: $navbar_height;
		}
		.navbar-collapse {
			height: $navbar_height;
			line-height: $navbar_height;
			text-align: center;
			.navbar-nav {
				.logo-pic {
					height: 80%;
					margin: auto;
				}
				display: inline-block;
				float: none;
				height: $navbar_height;
				line-height: $navbar_height;
				position: relative;
				li {
					height: $navbar_height;
					line-height: $navbar_height;
					vertical-align: middle;
					padding: 0 30px;;
					a {
						display: block;
						height: $navbar_height;
						line-height: $navbar_height;
						padding: 0;
						color: rgba(255,255,255,0.8);
						text-decoration: none;
						font-size: 16px;
						letter-spacing: 1px;
						font-family: tenor-sans;
					}
				}
				.action-hint {
					margin-left: 50px;
				}
			}
		}
	}
}
.message {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 999;
}
.content-wrapper {
	background: #ffffff url('images/overlay.png');
	.users, .teams {
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 1000px;
		.item {
			.avatar {
				width: 100%;
				img {
					width: 100%;
				}
			}
			.name {

			}
		}
	}
	.reply-form {
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 1000px;
		.ckeditor_replace {
			display: none;
		}
	}
}
.footer {
	height: $footer_height;
	line-height: $footer_height;
	background-color: #252525;
	.copy-right {
		color: #ffffff;
	}
	.navbar-nav {
		a {
			color: #ffffff;
		}
		a:hover {
			background-color: rgba(44,50,63,1);
		}
	}
}
.anchor{
  display: block;
  height: 90px; /*same height as header*/
  margin-top: -90px; /*same height as header*/
  visibility: hidden;
}