.container-fluid {
	background: #ffffff;
	.base {
		min-height: 900px;
		background: #ffffff url('images/overlay.png');
		box-shadow: 0px 10px 30px 2px #888888;
		.top-cover {
			height: 350px;
			overflow: hidden;
			position: relative;
			.mask {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				margin-right: 15px;
			}
			.name {
				position: absolute;
				left: 185px;
				bottom: 180px;
				height: 40px;
				line-height: 40px;
				font-size: 30px;
				width: 800px;
				color: #ffffff;
				overflow: hidden;
				text-align: center;
			}
			.avatars {
				position: absolute;
				left: 405px;
				bottom: 10px;
				height: 150px;
				width: 340px;
				overflow: hidden;
				.avatar {
					width: 150px;
					height: 150px;
					margin: 0 10px;
					overflow: hidden;
					border-radius: 100%;
					float: left;
					img {
						height: 150px;
						width: 150px;
					}
				}
			}
		}
		.navigation {
			font-size: 18px;
			margin-top: 0px;
			padding: 0;
			margin-bottom: 20px;
			min-height: 500px;
			border-right: 1px solid lightgrey;
			li {
				height: 45px;
				a {
					height: 45px;
					color: #000000;
					.icon-image {
						height: 80%;
						margin-right: 8px;
					}
				}
			}
			li.nav-active {
				background: #50934d;
			}
		}
		.main {
			.team-profile {
				padding-bottom: 50px;
				min-height: 900px;
				.idea {
					background: #ffffff;
					font-size: 18px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #bababa;
					.comment-hint {
						font-size: 16px;
					}
				}
				.results {
					background: #ffffff;
					margin-top: 10px;
					border-top: 1px solid #bababa;
					border-bottom: 1px solid #bababa;
					padding-top: 10px;
					padding-bottom: 10px;
					.result {
						font-size: 18px;
					}
				}
				.comments {
					background: #ffffff;
					margin-top: 10px;
					border-top: 1px solid #bababa;
					border-bottom: 1px solid #bababa;
					padding-top: 10px;
					padding-bottom: 10px;
					.title {
						font-size: 18px;
					}
					.comment {
						font-size: 16px;
						margin-top: 5px;
						margin-bottom: 5px;
						height: 30px;
						line-height: 30px;
						a.reply-hint {
							float: right;
						}
					}
					.comment:hover {
						background: #ebebeb;
					}
				}
			}
			.team-update {
				padding-bottom: 50px;
				width: 85%;
				margin: 0 auto;
				.ckeditor_replace {
					display: none;
				}
				.dismiss {
					float: right;
				}
			}		
		}
	}
}
